# Ignore node_modules as we will install them inside the container
node_modules/

# Ignore local development files
*.log
*.env

# Ignore git-related files
.git/
.gitignore

# Ignore any other unnecessary files
README.md
docker-compose.override.yml
Dockerfile.dev
